<%= turbo_stream_from current_user.pair_id(user_chatting_with, :chat_box) %>

<div class="chat-box">

  <%# Chat Box Header %>
  <div class="chat-header d-flex justify-content-between py-3 px-3 border-bottom border-2">
    
    <%= render "layouts/shared/user_info", user: user_chatting_with %>

    <div class="d-flex flex-column">

    </div>
  </div>

  <%# Messages %>
  <div class="messages-container">
    <div class="messages d-flex flex-column justify-content-end px-3 py-3" id="messages">
      <%= render partial: "message", collection: all_messages %>
    </div>
  </div>

  <%# Send Message Field %>
  <div class="chat-send">

    <%= form_with model: message, url: messages_path,
          data: {
            controller: "chat",
            action: "turbo:submit-end->chat#clear"
          } do |f| %>
      <div class="d-flex justify-content-between m-3 p-2 border border-2 border-light-subtle rounded-pill bg-white">
        <%= f.text_field :content, placeholder: "Message...", 
              class: "chat-content-field border-0 form-control" %>

        <%= f.hidden_field :receiver_id %>

        <%= f.submit "Send", class: "border-0 bg-white" %>
      </div>
    <% end %>
  </div>

</div>