<!DOCTYPE html>
<html>
  <head>
    <title>Instagram</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <style>
      <%= ".msg-#{current_user&.id}" %> {
        align-self: flex-end !important;
      }

      <%= ".msg-#{current_user&.id}" %> span {
        background-color: #0095F6 !important;
        color: white !important;
      }

      <%= ".msg-#{current_user&.id}" %> img {
        display: none !important;
      }
    </style>
  </head>

  <body>
    
    <% if current_user %>
      <%= render "layouts/navbar" %>
    <% end %>

    <%= render "layouts/flash_messages" %>
    
    <%= yield %>
  </body>
</html>
